html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;/* This is to prevent scrollbars from appearing */
}

body {
    margin-top: 90px;
    background-image: url(../images/japan-tree.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    height: 400px;
    width: 100%;
    background-size: cover;
}

.display{
    width: 100%;
    height: 100%;
    /* bottom: 0; */
    /* height: 100vh; */
    display: flex;
    flex-direction: row;

}

.t {
    font-size: 80px;

}



.left-section2 {

    /* background-color:white; */
    flex: 4;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-style:groove; */
    border-radius: 10px;
    border-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 10;
    font-size: 25px;
    letter-spacing: -1px;;
}

/* rgb(236, 202, 78) */
.right-section2 {
    /* background: url(https://i.pinimg.com/564x/32/32/bc/3232bc1b8d36e57a1b51676b04f4a042.jpg); */
    flex: 1;
    /* height: 100vh; */
    background-color: rgb(194, 227, 252);
    border-radius: 13px;
    height: 100%;


}

.photo {
    object-fit: cover;

}

.quiz-name {
    font-weight: 600;
    font-size: 55px;
}



.past-performances,
.top-performances,
.top-last-day,
.recent-quiz-taking,
.statistics,
.one-performance
{
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    height: 70px;
    background-color: rgb(194, 227, 252);
    margin-left:80px;
    margin-right: 80px;
    margin-top: 20px;
    width: 300px;
    /* background-color: rgb(136, 204, 255); */
    border: outset ;
    border-color: rgb(100, 188, 255);
    font-size: 22px;
    border-radius: 80px;

    /* border-color: rgb(100, 188, 255); */
    cursor: pointer;
    justify-content: center;
    transition: opacity 0.2s,
    background-color 0.16s,
    color 0.16s;
}


.past-performances {
    margin-top: 50px;
}

.past-performances:hover,
.top-performances:hover,
.top-last-day:hover,
.recent-quiz-taking:hover,
.statistics:hover,
.one-performance:hover  {
    border-style:groove;
    border-width: 2px;
    border-color: rgb(100, 188, 255);
    background-color: rgb(100, 188, 255);
    color: rgb(0, 7, 27);

}

.past-performances:active,
.top-performances:active,
.top-last-day:active,
.recent-quiz-taking:active,
.statistics:active,
.one-performance:active {
    border-style:groove;
    border-width: 2px;
    border-color: rgb(0, 7, 27);
    background-color: rgb(100, 188, 255);
    color: rgb(0, 7, 27);
    opacity: 0.5;
}


.statistics {
    font-size: 29px;
}



.title-of-list {
    color: rgb(0, 1, 1);
    flex: 1;
    height: 60px;
    font-weight: 1000;
}

.list {
    width: 500px;

    flex: 3;
    /* height: 100%; */
    width: 100%;
}

.one-performance {
    /* width: 100%; */

    background-color: rgb(211, 236, 254);
    color: black;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 3px;
    height: 120px;
    width: 800px;
}


.third-section {
    flex: 0.5;
}